﻿@model SecretSanta.WebUI.Controllers.Game.ViewModels.AnonUserChatViewModel
<script type="text/javascript">
    var objDiv = document.getElementsByClassName("chat");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
@if(Model.LoggedInUser != null){
    <div class="chat anon-chat">
        <table>
            <thead>
                <tr>
                    <th style="width: 1%">
                       
                    </th>
                    <th>
                    </th>
                    
                    <th style="width: 1%">
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var msg in Model.Messages){
                    <tr style="height: 35px">
                        <td>
                            <strong>@(msg.Sender.Equals(Model.LoggedInUser.UserName) ? "Du" : msg.Sender):</strong>
                        </td>
                        <td >
                            @msg.Text
                        </td>
                        <td style="border-left: dotted 1px;"><i title="@msg.CreateDate.ToString("MM/dd HH:mm:ss")">@msg.CreateDate.ToString("HH:mm:ss")</i></td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    using (Html.BeginForm("SendUserMessage", "Game", FormMethod.Post))
    {
         @Html.Hidden("ReceiverUserId", Model.ReceiverUser.Id)
       <input type="hidden" name="CurrentTab" value="@Model.CurrentTab"/>
       <input type="hidden" name="CurrentGropu" value="@Model.CurrentGroup"/>

        <div class="input-group margin">
            <input type="text" name="message" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    Sänd</button>
            </span>
        </div>
    }

}