
<div class="navbar page-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand mythology-logo" href="#"></a>
    </div>
    <div class="pull-right">
        <alert-toast></alert-toast>
    </div>
    <!--<a href="" class="collapse-menu-link glyphicon glyphicon-menu-hamburger white" ba-sidebar-toggle-menu=""></a>-->
    <!-- /.nav-collapse -->
  </div>

