.page-top {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  /*height: 66px;*/
  width: 100%;
  min-width: 320px;
  padding: 0 32px 0 40px;
}

.mythology-logo {
    height: 48px;
    width: 50px;
  background-image: url("../../../assets/img/mythology.gif");
}

a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: #fff;
    padding: 0;
    float: left;
    margin: 11px 0 0 25px;
}
