<mat-card>
  <mat-card-header>
    <mat-card-title [style.color]="termFacet.color">{{termFacet.displayName}}</mat-card-title>
    <mat-card-subtitle>{{termFacet.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="term-facet">
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let value of filter.filterValues" (removed)="remove(value)">
          {{value}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Filtrera.." #valueInput [formControl]="inputControl" [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)" (focus)="onFocus()">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="valueSelected($event)">
        <mat-option *ngFor="let value of filteredValues" [value]="value">
          <label fxLayout="row"><span>{{value.value}}</span><span fxFlex></span><small>{{value.count}}</small></label>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
</mat-card>
