<div fxLayout="column" fxLayoutAlign="start ">
  <app-facets-panel [searchRequest]="request" (executeSearch)="search($event)" [fenixResult]="fenixResult"
    [dateFacets]="dateFacets" [termFacets]="termFacets"></app-facets-panel>

    <mat-tab-group>
      <mat-tab label="System">
        <ng-template matTabContent>
          <app-fenix-system-number-table [searchRequest]="request"  [refresh]="refresh" (fenixResult)="setResult($event)"
          fxFlex="100">
        </app-fenix-system-number-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="System grupperat på 100-nummer">
        <ng-template matTabContent>
          <app-fenix-system-number-table [searchRequest]="request" [partionedView]="true" [refresh]="refresh" (fenixResult)="setResult($event)"
          fxFlex="100">
        </app-fenix-system-number-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Block">
        <ng-template matTabContent>
          <app-fenix-facility-table [searchRequest]="request" [refresh]="refresh" (fenixResult)="setResult($event)"
          fxFlex="100">
        </app-fenix-facility-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Block med system grupperat på 100-nummer">
        <ng-template matTabContent>
          <app-fenix-facility-table [searchRequest]="request" [refresh]="refresh" [partionSystemTables]="true" (fenixResult)="setResult($event)"
          fxFlex="100">
        </app-fenix-facility-table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Grafer">
        <ng-template matTabContent>
          Visa massa grafer här
        </ng-template>
      </mat-tab>
    </mat-tab-group>


</div>
