﻿@using SecretSanta.RazorWebUI.Controllers.Admin.ViewModels
@model SecretSanta.RazorWebUI.Controllers.Admin.ViewModels.UserOVerviewModelView

@{
    ViewBag.Title = "Add or Edit users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
$(document).ready(function () {
    $('.editable').editable({
        url: "SaveOrUpdateUser",
        send: "always",
        mode: "popup",
        ajaxOptions: {
            contentType: 'application/json'
        },
        select2: {
            tokenSeparators: [","],
            tags: [],
            width: "resolve"
        },
        params: function (params) {

            var data = {};
            var editables = $(this).parents("tr").find("a");
            var activeEdit = $(this);
            $(editables).each(function () {
                var paramName = $(this).attr("name");
                    data[paramName] = (activeEdit.attr("name") == paramName ? params.value : $(this).text());
               
            });
            return JSON.stringify(data);
        }
    });
});
</script>




<h2>@ViewBag.Title</h2>
<div class="well-lg background-color-white">
    <table class="table table-bordered table-striped snowfallCollector">
        <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Last login</th>
                <th>Clear inbox</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
                <tr>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter Username" name="userName">@user.UserName</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter first name" name="firstName">@user.FirstName</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter sur name" name="lastName">@user.LastName</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter email adress" name="email">@user.Email</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter password" name="password">@user.Password</a></td>
                    <td><a href="#" data-type="text"  name="lastLoginDate">@user.LastLoginDate</a></td>
                    
@*
                    <td style="width:1%">
                        @using (Html.BeginForm("ClearUserInbox", "Admin", FormMethod.Post, new { @class = "text-center", style = "margin-bottom: 0px;" }))
                        {
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-sm btn-warning"><i class="glyphicon-trash"> </i></button>
                        }
                    </td>*@
                    <td style="width:1%">
                        @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post, new { @class = "text-center", style = "margin-bottom: 0px;" }))
                        {
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-sm btn-danger"><i class="glyphicon-trash"> </i></button>
                        }
                    </td>
                    <td><a class="hidden" name="id">@user.Id</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row-fluid">
        

        @using (Html.BeginForm("AddNewUser", "Admin", FormMethod.Post))
        {
          <input type="submit" class="btn btn-primary" value="Add user"/>  
        }                                                                             
    </div>
</div>