<app-error-panel *ngIf="error" [error]="error"></app-error-panel>
<app-spinner *ngIf="isLoading && !error"></app-spinner>
<div class="mat-elevation-z8" *ngIf="!isLoading && !error">
  <table class="table" #facilityTableSort="matSort" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Block</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numAu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AU</th>
      <td mat-cell *matCellDef="let element"> {{element.numAu}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="numFu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FU</th>
      <td mat-cell *matCellDef="let element"> {{element.numFu}} </td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Totalt</th>
      <td mat-cell *matCellDef="let element"> {{element.total}} </td>
    </ng-container>

    <!-- AU ratio Column -->
    <ng-container matColumnDef="auRatio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Andel AU </th>
      <td mat-cell *matCellDef="let element" [style.color]="getRatioColor(element.auRatio, true)">
        {{element.auRatio | percent }} </td>
    </ng-container>

    <!-- FU ratio Column -->
    <ng-container matColumnDef="fuRatio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Andel FU </th>
      <td mat-cell *matCellDef="let element">
        {{element.fuRatio | percent  }} </td>
    </ng-container>

    <!-- AU+FU ratio Column -->
    <ng-container matColumnDef="aufuRatio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> AuFu-kvot </th>
      <td mat-cell *matCellDef="let element" [style.color]="getRatioColor(element.aufuRatio, true)">
        {{element.aufuRatio | percent  }} </td>
    </ng-container>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="detail collapsed" [class.expanded]="element === expandedElement">
          <div *ngIf="element === expandedElement" style="width:100%">
            <div>
              <p style="font-style: italic">{{description}}</p>
              <div fxFlex></div>
              <a mat-stroked-button href="{{supersokUrl}}" target="_blank" style="margin:5px">Visa relaterade
                arbetsordrar för block {{facilityRendered}} i Supersök</a>
            </div>
            <app-fenix-system-number-table [searchRequest]="systemSearchRequest" [partionedView]="partionSystemTables" style="width:100%">
            </app-fenix-system-number-table>
          </div>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="renderSystemTable(row)"
      style="cursor: pointer;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" style="height: 0px"></tr>

  </table>
  <!-- <mat-paginator [pageSizeOptions]="[15, 50, 100]" showFirstLastButtons></mat-paginator> -->
</div>
