<mat-card>
  <mat-card-header>
    <mat-card-title>{{dateFacet.displayName}}</mat-card-title>
    <mat-card-subtitle>
    <p *ngIf="selectStart">[Tryck för att välja startdatum]</p>
      <p *ngIf="!selectStart">[Tryck för att välja slutdatum]</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <div *ngIf="lineChartData" fxFlex="100">

      <canvas baseChart fxFlex="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [chartType]="'bar'" (chartClick)="chartClicked($event)">
      </canvas>


    </div>

    <div fxFlex="100" fxLayoutAlign="space-between">
      <div fxFlex="45" fxLayout="column" fxLayoutAlign="space-around">
        <mat-form-field fxFlex="40">
          <input matInput #start [matDatepicker]="startPicker" placeholder="Välj startdatum" [value]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <div fxFlex></div>
        <mat-form-field fxFlex="40">
          <input matInput #end [matDatepicker]="endPicker" placeholder="Välj slutdatum" [value]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker startView="year" [startAt]="endDate"></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="45" fxLayout="column">
        <mat-form-field fxFlex="100">
            <mat-label>Datumintervall</mat-label>
            <mat-select [(value)]="dateInterval" (selectionChange)="updateGraph()">
              <mat-option *ngFor="let interval of availableIntervals" [value]="interval.interval">{{interval.display}}</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-label>Datum att jämföra med</mat-label>
          <mat-select [formControl]="datesController" multiple>
            <mat-option *ngFor="let dateField of dateFacet.comparisonFields" [value]="dateField">
              {{dateField.displayName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="applyDateFilter(start.value, end.value)">APPLICERA</button>
  </mat-card-actions>
</mat-card>