﻿@model SecretSanta.WebUI.Controllers.Game.ViewModels.GameGroupMenuViewModel
@if (Model.AvailableGroupNames.Count > 1)
    {
        
        <li class="dropdown  pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.CurrentGroup<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (var groupName in Model.AvailableGroupNames)
                {
             
                    <li>@Html.ActionLink(groupName, "GamePage","Game",new {currentGroup=groupName}, null)</li>    
                }
            </ul>
        </li>
    }