﻿@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http
@using SecretSanta.RazorWebUI.Helpers
@model SecretSanta.WebUI.Controllers.Game.ViewModels.MenuViewModel
@functions
{
    private  HtmlString ActionListItemLink(string linkText, string actionName, string controllerName)
    {
        var currentController = ViewContext.RouteData.GetRequiredString("controller");
        var currentAction = ViewContext.RouteData.GetRequiredString("action");
        var liClass = currentController == controllerName && currentAction == actionName ? "active" : "";

        return new HtmlString($"<li class=\"{liClass}\"><a href=\"/{controllerName}/{actionName}\">{linkText}</a></li>");
    }

    private bool IsAdmin()
    {
        return Context.User.IsAdmin();
    }

    private bool ShowLogout()
    {
        return Context.User.Identity.Name != null;        
    }

}
<ul class="nav nav-tabs">
    @if (IsAdmin())
    {
        @ActionListItemLink("Groups", "GroupOverview", "Admin")
        @ActionListItemLink("Users", "UserOverview", "Admin")
        @ActionListItemLink("Game", "GamePage", "Game")
    }
    @if (ShowLogout())
    {
        <li class="pull-right"><a href="/Login/Logout">Logga ut</a></li>
    }
    <li class="pull-right" id="clear"><a title="Ta bort alla snöflingor" href="#">Skotta</a></li>
    @if (Model.GameGroupMenuViewModel != null)
    {
        @Html.Partial("Partials/GameGroupMenu", Model.GameGroupMenuViewModel)
    }
</ul>
