<mat-accordion>
  <mat-expansion-panel [(expanded)]="isExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
      <mat-panel-description>
        <label *ngIf="fenixResult">
        {{fenixResult.totalNumberOfWorkOrders}} arbetsordrar på {{fenixResult.totalNumberOfSystems}} system uppfyller dina kriterier
      </label>
      <label *ngIf="!fenixResult">Laddar...</label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column">
      <!-- Sökbox -->
      <div fxLayout="row" fxFlex="100">
        <mat-form-field class="search-bar" fxFlex="95">
          <input matInput type="text" placeholder="system_number:3* AND device:PA1" [(ngModel)]="searchRequest.query"
            (keyup.enter)="executeSearch.emit(searchRequest)">
          <button mat-button *ngIf="searchRequest.query" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchRequest.query = '';executeSearch.emit(searchRequest);">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button (click)="executeSearch.emit(searchRequest)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <!-- Facetter -->
      <div fxLayout="row wrap">

        <!-- Datumfacetter -->
        <div fxFlex="100" *ngFor="let facet of dateFacets" style="margin-bottom: 10px">
          <app-date-facet [dateFacet]="facet" [searchRequest]="searchRequest"
            (executeSearch)="internalExecuteSearch($event)"></app-date-facet>
        </div>

      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="30" *ngFor="let facet of termFacets" style="margin-bottom: 10px">
          <app-term-facet [termFacet]="facet" [searchRequest]="searchRequest"
            (executeSearch)="internalExecuteSearch($event)"></app-term-facet>
        </div>
      </div>
    </div>
    <mat-action-row fxLayoutAlign="start start" fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="openAddFacetSheet()">Lägg till facett</button>
      <div fxFlex></div>
        <button mat-raised-button color="accent" (click)="reset()">Nollställ</button>
        <button mat-raised-button (click)="isExpanded = false;">Dölj filterpanel</button>
      </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
