<div class="row">
  
    
    <div class="col-md-6 col-lg-4" *ngFor="let item of items" >
        <div class="panel {{panelClass(item)}} bootstrap-panel">
            <div class="panel-heading"><b>{{item.processType}}</b>  <i>{{item.id}}</i></div>
            <div class="panel-body">
                Server: {{item.serverName}}
                {{item.info}}
            </div>
        </div>
    </div>

</div>