﻿@model SecretSanta.Core.Domain.User

@{
    ViewBag.Title = "Välkommen till Hemliga Jultomten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center text-white">
        <h1>
            Kul att du tittar förbi @Model.FirstName!</h1>
        <p>
            Tyvärr är du inte med i något Hemliga Tomten-spel som ännu startat. Kanske vänta
            lite?</p>
    </div>