﻿<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Total
            </th>
            <th>
                Initial
            </th>
            <th title="Ignoring of commands is done in the process script. No further action will be taken with such commands.">
                Processed / Ignored
            </th>
            <th title="A verified command means that it's verified to be searchable in the search engine">
                Dispatched / Verified
            </th>
            <th>
                Errors
            </th>
            <th>
                Checked out
            </th>
            <th class="col-xs-2" title="How to handle the processing step">
                Processing step
            </th>
            <th title="Send the documents to the search engine">
                Dispatching
            </th>
            <th title="Verify if the dispatched documents have been successfully indexed and are searchable">
                Verification
            </th>
        </tr>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items" class="no-top-border">
            <td>
                
                <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary btn-sm dropdown-toggle">
                        {{item.name}} <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" (click)="resetToInitial(item)">Reset all to Initial</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="resetToProcessed(item)">Reset all to Processed</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item danger" (click)="deleteAll(item)">Delete all</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>{{totalCommands(item)}}</td>
            <td>{{item.initialCommands}}</td>
            <td>{{item.processedCommands}} / {{item.ignoredCommands}}</td>
            <td>{{item.dispatchedCommands}} / {{item.verifiedCommands}}</td>
            <td>{{item.errouneousCommand}}</td>
            <td>{{item.checkedOutCommands}}</td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" [ngClass]="item.processingStep == 2 ? 'active' : ''">
                        <input type="radio" (click)="changeProcessStep(item, 2)">Script
                    </label>
                    <label class="btn btn-primary" [ngClass]="item.processingStep == 1 ? 'active' : ''">
                        <input type="radio" (click)="changeProcessStep(item, 1)">Skip
                    </label>
                    <label class="btn btn-primary" [ngClass]="item.processingStep == 0 ? 'active' : ''">
                        <input type="radio" (click)="changeProcessStep(item, 0)">Off
                    </label>
                </div>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" [ngClass]="item.dispatchingEnabled ? 'active' : ''">
                        <input type="radio" (click)="changeDispatchStep(item, true)">On
                    </label>
                    <label class="btn btn-primary"  [ngClass]="item.dispatchingEnabled ? '' : 'active'">
                        <input type="radio" (click)="changeDispatchStep(item, false)">Off
                    </label>
                </div>
            </td>
            <td>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary"  [ngClass]="item.indexStatusVerificationEnabled ? 'active' : ''">
                        <input type="radio" (click)="changeVerificationStep(item, true)">On
                    </label>
                    <label class="btn btn-primary"  [ngClass]="item.indexStatusVerificationEnabled ? '' : 'active'">
                        <input type="radio" (click)="changeVerificationStep(item, false)">Off
                    </label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>