.table{
  width: 100%;
}
tr.detail {
  height: 0;
}

.detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.collapsed{
  height: 0px;
  min-height: 0px;
}

.expanded{
  height:100%;
  min-height: 100%;
}

