<mat-selection-list #dateFacets>
  <mat-list-option (click)="addFacet(field)" *ngFor="let field of data.availableDateFields">
      <span mat-line>Möjliggör filtrering av {{field.displayName}} </span>
      <span mat-line>Datumfacett på {{field.fieldName}}</span>
  </mat-list-option>
  <mat-list-option (click)="addFacet(field)" *ngFor="let field of data.availableTermFields">
      <span mat-line>Möjliggör filtrering av {{field.displayName}} </span>
      <span mat-line>Textfacett på {{field.fieldName}}</span>
  </mat-list-option>
</mat-selection-list>

