.toast {
    background-color: blue;
}

.toast-title {
    font-size: xx-large;
}

.loader {
    height: 24px;
    width: 24px;
    background-image: url("../../../assets/img/pacman.gif");
}