<top-menu></top-menu>
<div class="container-fluid" >
  <div class="row" style="padding-top: 50px;">
      <div class="col-sm-1">
          <!--<nav-menu></nav-menu>-->
          <left-menu></left-menu>

      </div>
    
    <div class="col-sm-11 body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
