<div class='main-nav col-sm-1'>
  <div class="left-menu">
    <ul class="items">
        <li class="menu-item" *ngFor="let item of items">

            <a class="menu-item-link" [routerLink]="[item.route]" *ngIf="!item.hasChildren()">
                <i class="{{item.icon}}"></i>
                <span class="">{{item.title}}</span>
            </a>
          
            <a class="menu-item-link" [routerLink]="[item.route]" *ngIf="item.hasChildren()" (click)="item.toggle()">
                <i class="{{item.icon}}"></i>
                <span class="">{{item.title}}</span>
                <span class="glyphicon white" 
                      [class.glyphicon-arrow-down]="item.isCollapsed"
                      [class.glyphicon-arrow-up]="!item.isCollapsed"></span>
            </a>
          
            <ul class="sub-items" *ngIf="item.hasChildren() && !item.isCollapsed">
                <li class="menu-item" *ngFor="let subItem of item.items">
                    <a class="menu-item-link sub-menu-item-link" [routerLink]="[item.route]">                        
                        <span class="">{{subItem.title}}</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
  </div>
</div>
