.left-menu {
    /*width: 180px;*/
    left: 0;
    z-index: 904;
    display: block;
    min-height: 100%;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: fixed;
}

.items {
    padding-left: 0px;
    padding-right: 0px;
}

.menu-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
    color: inherit;
}

i {
    margin-right: 10px;
    width: 16px;
    display: inline-block;
}

.menu-item-link {
    height: 42px;
    /*padding-left: 18px;*/
    font-size: 13px;
    text-decoration: none;
    line-height: 42px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 30px;
}

.sub-menu-item-link {
    height: 30px;
}


.menu-item-link:hover i {
    color: #1b867b;
}
.menu-item-link:hover span {
    color: #1b867b;
}

.sub-items {
    padding-top: 0px;
    background-color: rgba(0,0,0,.25);
}
